@import './vendors/normalize.css';
@import 'aboutme.scss';

*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

.section__header {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}
